﻿
<!DOCTYPE html>
<html>

<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class="container">
            <div class="navbar">
                <img src="~/Screenshot 2025-09-06 000429.png" asp-append-version="true" width="80px" />
                <div class="navbar-brand">CRUD Demo</div>

                <ul>
                    <li>
                        <a href="~/persons/index">Persons</a>
                    </li>
                    <li><a href="~/persons/@ViewBag.PageDirection">@ViewBag.PageContent</a></li>
                    <li>
                        <a asp-controller="Countries" asp-action="UploadFromExcel">UploadCountries</a>
                    </li>
                </ul>
            </div>
            <div class="page-content">
                @RenderBody()
            </div>
        </div>

    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
