@model ResetPasswordDTO
<form asp-action="ResetPassword" asp-controller="Account">
@*password*@
<div class="form-field flex">
    <div class="w-25">
        <label asp-for="Password" class="form-label pt">password</label>
    </div>
    <div class="flex-1">
            <input asp-for="Password" class="form-input" />
            <span asp-validation-for="Password" class="text-red"></span>
    </div>
</div>

@*Password*@
<div class="form-field flex">
    <div class="w-25">
            <label asp-for="ConfirmPassword" class="form-label pt">ConfirmPassword</label>
    </div>
        <div class="flex-1">
            <input asp-for="ConfirmPassword" class="form-input" />
            <span asp-validation-for="ConfirmPassword" class="text-red"></span>
    </div>
</div>
    @if (ViewBag.Errors != null)
    {
        <div class="text-red ml">
            <ul>
                @foreach (string error in ViewBag.Errors)
                {
                    <li class="ml">@error</li>
                }
            </ul>
        </div>
    }
<button type="submit">Reset</button>
</form>